.login{
  width:100%;
  height:100%;
  background:white;
  padding:rem(40);
  font-size:rem(40);
  input{
    width:70%;
    line-height:50px;
    margin:rem(50);
    border: 1px solid #999;
  }
  button{
    width:100%;
    height:50px;
    line-height:50px;
    font-size:20px;
    border:none;
    outline:none;
    background:green;
    color:whitesmoke;
  }
}
