.samehead{
  width:100%;
  height:rem(140);
  position: relative;
  background: rgba(255,255,255,0.5);
 .leftjiantou{
    position: absolute;
    left:rem(57);
    top:rem(50);
    font-size: rem(54);
  }
  .samehead-title{
    width:100%;
    height:rem(140);
    padding-top:rem(60);
    text-align: center;
    font-size: rem(40);
  }
}

