.kanjiadetail{
  width:100%;
  padding:rem(45);
  &>p:first-child{
    font-size:rem(45);
    line-height:rem(80);
  }
  &>p:nth-child(2){
    font-size:rem(36);
    line-height:rem(77);
    color:#999;
  }
  ul{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    li{
      font-size:rem(31);
      color:#999;
      line-height:rem(138);
    }
    &>li:first-child{
      display:flex;
      &>p{
        color:#ab2b2b;
        padding-right:rem(35);
        &>span{
          font-size:rem(45);
        }
      }
    }
  }
}
